.edit-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 60px;
}
.edit-user-form{
    display: flex;
    flex-direction: column;
    max-width: 464px;
    border-color:gray;
    border-style:solid ;
    padding-top:40px ;
    padding-bottom:40px ;
    border-radius: 8px;
    padding: 50px 20px 50px 20px;
} 
@media screen and (min-width:768px) {
    .edit-user-form{
        width:564px;
    }
}

.edit-label-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 10px;
}
.sub{
    margin-right: 20px;
    background-color:blue;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
  font-family: 'Roboto';
  font-size: 16px;
  border-radius: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #fff;
  margin-right: 10px;
}
.back-b{
    background-color:green;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
  font-family: 'Roboto';
  font-size: 16px;
  border-radius: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #fff;
  margin-right: 10px;
}
.up{
    font-family: "Roboto";
    font-weight: 600;
}